/* scaffolding */

@use '@/assets/scss/general/variables' as *;
@use '@/assets/scss/abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-dark-300: #1d1d1f;
  --color-light-100: #adb5bd;
  --gradient-color: linear-gradient(to bottom right, #0894ff 0%, #c959dd 34%, #ff2e54 68%, #ff9004);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  overflow-x: hidden;
  color: var(--color-white);
  background-color: var(--color-black);
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $xxxl;
  padding: 0 20px;
}

.button {
  border: none;
  border-radius: calc(infinity * 1px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
  background-color: var(--color-black);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $md) {
      display: block;
    }
  }
}

.header-logo,
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition:
      transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }

  &:hover &__image,
  &:focus-visible &__image {
    transform: translateY(-2px);
    opacity: 1;
  }
}

.header-navigation {
  &__list {
    margin: -8px -16px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 8px 16px;
  }

  &__link {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    color: currentcolor;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }
}

.header-actions {
  &__wrapper {
    margin: -4px -6px;
    display: flex;
    align-items: center;
  }

  &__button {
    margin: 4px 6px;
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }
}

.footer {
  padding: 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    color: var(--color-dark-100);
  }

  &__logo {
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $lg) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__copyright {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-dark-100);

    @media screen and (min-width: $lg) {
      margin-bottom: 0;
    }
  }

  hr {
    margin: 20px 0;
    color: var(--color-dark-100);
    opacity: 0.3;
  }
}

.footer-navigation {
  &__list {
    margin: -4px -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;

    @media screen and (min-width: $lg) {
      flex-direction: row;
    }
  }

  &__item {
    margin: 4px 10px;

    @media screen and (min-width: $lg) {
      position: relative;
      padding: 0 10px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $lg) {
      &::after {
        content: '|';
        position: absolute;
        top: 50%;
        right: -10px;
        font-weight: 400;
        transform: translateY(-50%);
        opacity: 0.8;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    color: currentcolor;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }
}

.home-hero {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $lg) {
    margin-top: 64px;
    min-height: 80dvh;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    @media screen and (min-width: $lg) {
      font-size: 30px;
    }

    @media screen and (min-width: $xxl) {
      font-size: 48px;
    }
  }

  &__image {
    margin: 0 auto;
    display: flex;
    width: calc(2 / 3 * 100%);
  }

  &__video {
    margin: 0 auto;
    width: 100%;
    max-width: $xl;

    @media screen and (min-width: $lg) {
      transform: translateY(20px);
    }
  }

  &__button {
    margin: 40px auto 20px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $lg) {
      margin-top: 0;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-dark-100);

    @media screen and (min-width: $lg) {
      font-size: 20px;
    }
  }
}

.product-viewer {
  margin-top: 160px;

  &__wrapper {
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;

    @media screen and (min-width: $xxl) {
      font-size: 60px;
    }
  }

  &__info {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 120%;
    padding: 4px 12px;
    text-align: center;
  }

  &__controls {
    position: absolute;
    left: 50%;
    bottom: 160px;
    z-index: 50;
    margin-top: 20px;
    transform: translateX(-50%);

    @media screen and (min-width: $xxl) {
      bottom: 208px;
    }
  }

  &__canvas {
    position: absolute;
    width: 100%;
    height: 80dvh;
    z-index: 40;

    @media screen and (min-width: $lg) {
      position: relative;
      height: 100%;
    }
  }
}

.viewer-controls {
  &__wrapper {
    margin: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__control {
    margin: 5px;
  }
}

.color-control {
  border-radius: calc(infinity * 1px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #262626;

  & > * + * {
    margin-left: 8px;
  }

  &__item {
    border-radius: calc(infinity * 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #d4d4d4;
    cursor: pointer;

    &.is-active {
      background-color: #171717;
      box-shadow: inset 0 0 0 5px #d4d4d4;
    }
  }
}

.size-control {
  border-radius: calc(infinity * 1px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #262626;

  & > * + * {
    margin-left: 8px;
  }

  &__item {
    border-radius: calc(infinity * 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    cursor: pointer;

    &.is-active {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.home-showcase {
  padding-bottom: 80px;

  &__media {
    position: relative;
    overflow: hidden;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: $lg) {
      height: 100dvh;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__logo {
    width: 100%;
    height: 100%;
    transform: scale(150);
    object-fit: cover;
  }

  &__content {
    position: relative;

    @media screen and (min-width: $lg) {
      opacity: 0;
      margin-top: -160px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;

    @media screen and (min-width: $md) {
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      max-width: $lg;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;

    @media screen and (min-width: $xxl) {
      font-size: 60px;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-dark-100);

    & > * + * {
      margin-top: 20px;
    }

    span {
      color: var(--color-white);
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
    }
  }

  &__feature {
    color: var(--color-dark-100);

    & > * + * {
      margin-top: 8px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 120%;
      color: var(--color-white);

      @media screen and (min-width: $xxl) {
        font-size: 48px;
      }
    }
  }

  &__feature:not(:last-child) {
    margin-bottom: 56px;
  }
}

.home-performance {
  padding-top: 80px;

  &__title {
    margin: 0 auto;
    max-width: $sm;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    @media screen and (min-width: $xxl) {
      font-size: 60px;
    }
  }

  &__wrapper {
    margin-bottom: 96px;
    position: relative;
    height: 50dvh;

    @media screen and (min-width: $lg) {
      height: 100dvh;
    }
  }

  &__img {
    max-width: 160px;

    @media screen and (min-width: $lg) {
      max-width: 432px;
    }

    @media screen and (min-width: $xxl) {
      max-width: 560px;
    }
  }

  &__img.p1 {
    position: absolute;
    bottom: 50%;
    left: 3%;
    z-index: 1;

    @media screen and (min-width: $sm) {
      left: 23%;
    }
  }

  &__img.p2 {
    position: absolute;
    bottom: 40%;
    right: 7%;
    z-index: 3;

    @media screen and (min-width: $sm) {
      right: 17%;
    }
  }

  &__img.p3 {
    position: absolute;
    bottom: 25%;
    right: 5%;
    z-index: 2;

    @media screen and (min-width: $sm) {
      right: 15%;
    }
  }

  &__img.p4 {
    position: absolute;
    bottom: 15%;
    right: 0;
    z-index: 1;

    @media screen and (min-width: $sm) {
      right: 10%;
    }
  }

  &__img.p5 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%) scale(150%);
  }

  &__img.p6 {
    position: absolute;
    bottom: 25%;
    left: 5%;
    z-index: 2;

    @media screen and (min-width: $sm) {
      left: 25%;
    }
  }

  &__img.p7 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 3;

    @media screen and (min-width: $sm) {
      left: 15%;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 576px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-dark-100);
    text-align: center;

    p {
      opacity: 0;
    }

    span {
      color: var(--color-white);
    }
  }
}

.home-highlights {
  padding: 160px 0;

  &__title {
    margin: 0 auto 40px;
    max-width: $sm;
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    @media screen and (min-width: $xxl) {
      font-size: 60px;
    }
  }

  &__subtitle {
    margin: 0 auto 80px;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: var(--color-light-100);

    @media screen and (min-width: $xxl) {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media screen and (min-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__left-column,
  &__right-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    opacity: 0;
  }

  &__left-column {
    div:first-of-type {
      border-radius: 40px;
      height: 100%;
      padding: 40px;
      background: url('/images/highlight-bg.png') no-repeat center center/cover;

      @media screen and (min-width: $lg) {
        padding: 80px 40px 40px;
      }

      p {
        max-width: 288px;
        font-size: 20px;
        font-weight: 600;

        @media screen and (min-width: $xxl) {
          font-size: 36px;
        }
      }
    }

    div:last-of-type {
      border-radius: 40px;
      display: flex;
      align-items: center;
      padding: 40px;
      background-color: var(--color-dark-300);

      & > * + * {
        margin-left: 28px;
      }

      p {
        max-width: 288px;
        font-size: 20px;
        font-weight: 600;

        @media screen and (min-width: $xxl) {
          font-size: 36px;
        }
      }
    }
  }

  &__right-column {
    div:first-of-type {
      position: relative;
      border-radius: 40px;
      display: flex;
      align-items: center;
      padding: 40px;
      background-color: var(--color-dark-300);

      ::before {
        content: '';
        margin: -5px;
        border-radius: 40px;
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(91deg, #0096ff 0%, #bb64ff 42%, #f2416b 74%, #eb7500 100%);
        pointer-events: none;
      }

      & > * + * {
        margin-left: 28px;
      }

      p {
        max-width: 288px;
        font-size: 20px;
        font-weight: 600;

        @media screen and (min-width: $xxl) {
          font-size: 36px;
        }
      }
    }

    div:last-of-type {
      border-radius: 40px;
      height: 100%;
      padding: 40px;
      background-color: var(--color-dark-200);

      @media screen and (min-width: $lg) {
        padding: 80px 40px 40px;
      }

      p {
        max-width: 288px;
        font-size: 20px;
        font-weight: 600;

        @media screen and (min-width: $xxl) {
          font-size: 36px;
        }
      }
    }
  }
}
