/* scaffolding */

@use '@/assets/scss/general/variables' as *;
@use '@/assets/scss/abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
  --gradient-color: linear-gradient(to bottom right, #0894ff 0%, #c959dd 34%, #ff2e54 68%, #ff9004);
}

body {
  font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  overflow-x: hidden;
  color: var(--color-white);
  background-color: var(--color-black);
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $xxxl;
  padding: 0 20px;
}

.button {
  border: none;
  border-radius: calc(infinity * 1px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
  background-color: var(--color-black);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $md) {
      display: block;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition:
      transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }

  &:hover &__image,
  &:focus-visible &__image {
    transform: translateY(-2px);
    opacity: 1;
  }
}

.header-navigation {
  &__list {
    margin: -8px -16px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 8px 16px;
  }

  &__link {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    color: currentcolor;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }
}

.header-actions {
  &__wrapper {
    margin: -4px -6px;
    display: flex;
    align-items: center;
  }

  &__button {
    margin: 4px 6px;
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 300ms ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }
}

.home-hero {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $lg) {
    margin-top: 64px;
    min-height: 80dvh;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    @media screen and (min-width: $lg) {
      font-size: 30px;
    }

    @media screen and (min-width: $xxl) {
      font-size: 48px;
    }
  }

  &__image {
    margin: 0 auto;
    display: flex;
    width: calc(2 / 3 * 100%);
  }

  &__video {
    margin: 0 auto;
    width: 100%;
    max-width: $xl;

    @media screen and (min-width: $lg) {
      transform: translateY(20px);
    }
  }

  &__button {
    margin: 40px auto 20px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $lg) {
      margin-top: 0;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-dark-100);

    @media screen and (min-width: $lg) {
      font-size: 20px;
    }
  }
}
